R4R_OPENCODE_AGENT=r4r-pc
R4R_GALLERY_AGENT=r4r-gallery-pc
R4R_OPENCODE_PC_BASE_URL=http://127.0.0.1:11434/v1
R4R_OPENCODE_LP_BASE_URL=http://192.168.1.9:11434/v1
R4R_OPENCODE_ENDPOINT_CHECK=true
R4R_CODEGRAPH_POLICY=advisory
R4R_REQUIRE_CODEGRAPH=true
R4R_MAX_ATTEMPTS_PER_TASK=6
R4R_MAX_NO_PROGRESS_CYCLES=2
R4R_MAX_TRANSIENT_FAILURES=2
R4R_AUTO_COMMIT=true
R4R_GALLERY_URL=https://riansares4r.com/galeria-antes-despues
